<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta content="width=device-width,initial-scale=1,minimal-ui" name="viewport">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic|Material+Icons">
  <link rel="stylesheet" href="https://unpkg.com/vue-material/dist/vue-material.min.css">
  <link rel="stylesheet" href="https://unpkg.com/vue-material/dist/theme/default.css">
  <title>TaskRader</title>
  <style>
    :root {
      --md-theme-default-primary: #008fce;
    }

    .md-empty-state {
      max-width: 470px;
    }

    .min-95vh {
      min-height: 95vh;
    }

    .overlay-dark {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 9999;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, .2);
    }

    .ml-4 {
      margin-left: 16px;
    }

    mr-4 {
      margin-right: 16px;
    }

    .mx-4 {
      margin-left: 16px;
      margin-right: 16px;
    }

    .d-flex {
      display: flex;
    }
  </style>
</head>

<body>
  <div id="app">
    <div class="page-container">
      <md-app>
        <md-app-toolbar class="md-primary">
          <md-button class="md-icon-button" @click="toggleMenu" v-if="!state.menuVisible">
            <md-icon>menu</md-icon>
          </md-button>
          <span class="md-title">TaskRader</span>
        </md-app-toolbar>

        <md-app-drawer :md-active.sync="state.menuVisible" md-persistent="mini" style="width:200px;">
          <md-toolbar class="md-transparent" md-elevation="0">
            <span>メニュー</span>
            <div class="md-toolbar-section-end">
              <md-button class="md-icon-button md-dense" @click="toggleMenu">
                <md-icon>keyboard_arrow_left</md-icon>
              </md-button>
            </div>
          </md-toolbar>

          <md-list>
            <md-list-item @click="switchTo('HOME')">
              <md-icon>home</md-icon>
              <span class="md-list-item-text">ホーム</span>
            </md-list-item>
            <md-list-item @click="switchTo('SETTING')">
              <md-icon>settings</md-icon>
              <span class="md-list-item-text">設定</span>
            </md-list-item>
            <md-list-item>
              <md-icon>help</md-icon>
              <span class="md-list-item-text">ヘルプ</span>
            </md-list-item>
          </md-list>
        </md-app-drawer>

        <md-app-content class="min-95vh">
          <template v-if="state.tab === 'HOME'">
            <h1 class="md-display-1">ホーム</h1>

            <div v-if="!state.initialized">
            </div>

            <md-empty-state v-else-if="nothingLogined" md-rounded :md-size="470" md-icon="devices_other"
              md-label="認証情報が登録されていません" md-description="まずは学情や EdStem, Teams にログインするためのパスワード等を登録してください。">
              <md-button class="md-primary md-raised" @click="switchTo('SETTING')">認証情報の登録画面へ</md-button>
            </md-empty-state>

            <div v-else>
              <md-button @click="fetchAss()" :disabled="state.fetchingAss" class="md-raised md-primary ml-4">
                <md-icon>refresh</md-icon> 課題一覧を再取得する
              </md-button>

              <div class="" style="position:relative;">
                <div v-if="state.fetchingAss" class="overlay-dark mx-4" style="width:calc(100% - 32px);">
                  <div style="display:flex; justify-content:center; align-items:center; width:100%; height:100%;">
                    <md-progress-spinner :md-diameter="120" :md-stroke="12" md-mode="indeterminate">
                    </md-progress-spinner>
                  </div>
                </div>

                <md-table v-model="assignments" md-sort="due" md-sort-order="asc" md-card md-fixed-header
                  :md-height="700">
                  <md-table-toolbar>
                    <div class="md-toolbar-section-start">
                      <h1 class="md-title">未提出課題リスト</h1>
                    </div>
                    <div class="md-toolbar-section-end">
                    </div>
                  </md-table-toolbar>

                  <md-table-empty-state md-label="未提出の課題はありません🎉" md-description="未提出課題は0件です。お疲れ様でした！">
                  </md-table-empty-state>

                  <md-table-row slot="md-table-row" slot-scope="{ item }">
                    <md-table-cell md-label="課題名">{{ item.title }}</md-table-cell>
                    <md-table-cell md-label="科目" md-sort-by="course">{{ item.course }}</md-table-cell>
                    <md-table-cell md-label="締め切り" md-sort-by="due">{{ item.due }}</md-table-cell>
                    <md-table-cell md-label="提出先" md-sort-by="origin">{{ item.origin }}</md-table-cell>
                  </md-table-row>
                </md-table>
              </div>
            </div>

          </template>

          <template v-else-if="state.tab === 'SETTING'">

          </template>
        </md-app-content>
      </md-app>
    </div>
  </div>

  <script defer src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script defer src="https://unpkg.com/vue"></script>
  <script defer src="https://unpkg.com/vue-material"></script>
  <script defer src="/file/main.js"></script>
</body>
